.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Left for PlantDisplay, Middle for MapDisplay, Right for MapLegend */
  grid-template-rows: auto 1fr; /* Top for the components, Bottom for NavContainer */
  grid-template-areas:
    "PlantDisplay MapDisplay Map-Legend"
    "NavContainer NavContainer NavContainer";
  height: 100vh; /* Adjust as needed */
  gap: 10px; /* Adjust as needed */
}

.PlantDisplay { grid-area: PlantDisplay; }
.MapDisplay { grid-area: MapDisplay; }
.Map-Legend { 
  grid-area: Map-Legend;
  padding: 10px;
}
.NavContainer { 
  grid-area: NavContainer;
}
  

  