.map-legend {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    /* added for better visibility */
    overflow-y: auto;
}

.eco-name-section {
    margin-bottom: 15px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    display: inline-block;
    /* Changed from default inline to inline-block */
    width: 20px;
    height: 20px;
    margin-right: 10px;
}